.about-me {
  width: 100%;
  .wrapper;
  background-color: #c1d5d6;

  .about-me__list {
    font-family: @font-family;
    color: @text-color;
    font-size: 12px;
    line-height: 28px;
    font-weight: 500;
    //letter-spacing: 1px;
    padding: 20px 10px 20px 10px;
  }

  .about-me__item {
    //border: 1px solid red;
  }

  .about-me__title {
    font-family: @font-family-menu;
    color: @text-color-grey;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 0;
    margin-top: 0;
  }

  .about-me__button { //border: 1px solid red;
    color: @color-main;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    display: block;
    width: 100px;
    margin: -10px 0 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .about-me {
    .about-me__list {
      display: grid;
      grid-gap: 40px;
      //grid-template-columns: repeat(auto-fit, min-content);
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
      grid-template-rows: repeat(5, minmax(100px, auto));
      grid-auto-flow: column;
      padding: 20px 30px 20px 30px;
    }

    .about-me__item:nth-of-type(1) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .about-me__item:nth-of-type(4) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 6;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-me {
    border-bottom: 40px solid white;

    .about-me__list {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
      grid-template-rows: repeat(5, minmax(100px, auto));
      grid-auto-flow: column;
      padding: 30px 30px 30px 30px;
    }
  }
}
