.copyright {
  font-family: @font-family-text;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;

  .copyright__link {
    color: @text-color-grey;
    text-decoration: none;
    width: 150px;
  }

  .copyright__img {
    fill: @text-color-grey;
    width: 27px;
    height: 40px;
  }


  .copyright__img:hover {
    fill: @color-main;
  }

  .copyright__img:active {
    opacity: 0.5;
  }
}

@media (min-width: @tablet-width) {
  .copyright__img {
    margin: 0 10px 0 25px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__img {
    margin: 6px 10px 0 25px;
  }
}
