.footer {
  background-color: @color-background;
  width: 100%;
  .wrapper;
  padding-bottom: 10px;

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    color: @text-color;
    height: 235px;
    padding: 25px 20px 20px 20px;
  }

  .footer__logo {
    text-align: center;
    width: 280px;
    height: 65px;
    padding-top: 20px;
    margin-bottom: 27px;
  }

  .footer__logo:hover {
    opacity: 0.8;
  }

  .footer__logo:active {
    opacity: 0.5;
  }

  .footer__social {
    width: 280px;
    height: 65px;
    border-top: 1px solid #807e7e;
    border-bottom: 1px solid #807e7e;
  }

  .footer__copyright {
    text-decoration: none;
    color: @text-color;
    text-align: left;
    width: 280px;
    height: 65px;
    padding-top: 20px;
  }

  .footer__copyright:hover {
    opacity: 0.8;
  }

  .footer__copyright:active {
    opacity: 0.5;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    width: 100%;
    padding-top: 30px;
    .wrapper;

    .footer__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      height: 150px;
      background-color: @color-background;
      padding-top: 20px;
    }

    .footer__logo {
      text-align: left;
      width: 200px;
      height: 30px;
      padding-top: 23px;
      margin-left: 10px;
    }

    .footer__social {
      width: 250px;
      height: 30px;
      border: none;
    }

    .footer__copyright {
      text-align: right;
      width: 200px;
      height: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 100%;
    padding-top: 35px;
    .wrapper;

    .footer__wrapper {
      align-items: center;
      padding: 10px 35px;
      height: 100px;
      padding-top: 0;
      margin-top: 0;
    }

    .footer__logo {
      margin-top: -10px;
      margin-left: 3px;
    }

    .footer__social {
      text-align: center;
    }

    .footer__copyright {
      text-align: right;
      width: 200px;
      margin-top: -17px;
      margin-right: -4px;
    }
  }
}
