.site-list {
  list-style: none;

  .site-list__item {
    padding: 14px 0 16px;
    text-align: center;
    border-top: 1px solid  @color-grey-line;

    a {
      text-decoration: none;
      color: @text-color;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }

  .site-list__item--active a {
    color: #a7a7a7;
  }

  a:hover {
    color: #919191;
  }

  a:active {
    color: #cccccc;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;

    .site-list__item {
      width: 160px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      text-align: center;
      white-space: nowrap; //не переносит отдельные слова в меню
      border-top: none;
      padding: 30px 3px 0 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    .site-list__item {
      width: 203px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      padding: 10px 0 0 0;
    }
  }

  .site-list--white a {
    color: #ffffff;
  }

  .site-list--white .site-list__item--active a {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
  }

  .site-list--white .site-list__item a:hover {
    color: #cadfc1;
  }

  .site-list--white .site-list__item a:active {
    color: #add896;
  }
}
